.create-event {
    position: relative;
    width: 100%;
    padding: 15px;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    gap: 10px;


}

.create-event__time {
    transition: max-height .5s ease-in-out;
    overflow: hidden;
    max-height: 500px;
}

.create-event__time .form-input {
    margin: 3px 2px;
}
.create-event__time.hide {
    max-height: 0;
}



.create-event input[type=date], .create-event input[type=time], .create-event textarea {
    color: var(--text-prim);
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 3px;

}

.create-event input::-webkit-calendar-picker-indicator {
    /*filter: var(--filter-invert);*/
}
.create-event input[type=date]::-webkit-calendar-picker-indicator {
    margin-left: -18px;
}


.create-event input[type=text]{
    border: none;
}

.create-event input[type=checkbox]{
    margin-right: 6px;
}


.create-event textarea {
    width: 100%;
    min-height: 10ch;
    color: inherit;
    font-size: 12px;
    resize: none;
    border: 1px solid var(--border-clr);
}
.create-event textarea:focus {
    background-color: var(--bg-prim);
}
.create-event textarea:focus {
    outline: 1px solid var(--purple);
}


.create-event__type {

    position: relative;
    width: 30px;
    height: 23px;
    background-color: var(--bg-sec);
    /*border: 1px solid var(--border-clr);*/
    display: grid;
    place-content: center;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.create-event__type .current-item {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: blue;
    cursor: pointer;

}

.create-event__type .popup {
left: calc(100% + 20px);
    top: -40px;
    padding: 10px;
    min-height: auto;
    min-width: 100px;

    transform-origin: left center;

}

.create-event__type .popup:before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.create-event__type .item {
    position: relative;
    font-size: 12px;
    margin-bottom: 5px;
   padding: 5px 5px 5px 20px;
    border: none;
    border-radius: 2px;
    min-width: 80px;
    cursor: pointer;
    transition: background-color .3s;
}
.create-event__type .item:last-child {
    margin-bottom: 0;
}
.create-event__type .item:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 2px;

}


.type--clr-work {
    background-color: blue;

}
.type--clr-family {
    background-color: #d3b708;

}
.type--clr-private {
    background-color: rebeccapurple;
}


.create-event__type .item.work:before {
    background-color: blue;

}

.create-event__type .item.private:before {
    background-color: rebeccapurple;
}
.create-event__type .item.family:before {
    background-color: #d3b708;
}

.create-event__type .item:hover {
    background-color: #BB86FC;
}