
.form fieldset {
    border: 1px solid var(--border-clr);
    border-radius: 5px;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form legend {
    padding: 0 10px;
}

.form .question small {
    font-size: 11px;
}
.form .question small a {
    color: var(--green);
}

.form-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.form-input {
    min-width: 250px;
}
.form-input label {
   font-size: 12px;
}

.form-input input[type=text] {
    display: block;
    font-size: 14px;
    padding: 5px;
    outline-color: var(--purple-dark);
    background-color: transparent;
    border: 1px solid var(--border-clr);
    border-radius: 3px;
    color: var(--text-prim);
    width: 100%;
}


.form-input input:focus {
    background-color: var(--bg-prim);
}
.form-input input:focus {
    outline: 1px solid var(--purple);

}

.form-input input[type=search]::-webkit-search-cancel-button {

}
.form-input input[type=search] {
    width: 100%;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid var(--border-clr);
    background-color: transparent;
    font-size: 14px;
    color: var(--text-prim);
    font-weight: 300;
}

/*.form-input input[type="search"]::-webkit-search-cancel-button {*/
/*    -webkit-appearance: none;*/
/*    height: 1em;*/
/*    width: 1em;*/
/*    border-radius: 50em;*/
/*    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;*/
/*    background-size: contain;*/
/*    opacity: 1;*/
/*    pointer-events: none;*/
/*    filter: invert(1);*/
/*}*/

/*.form-input input[type=search]:focus::-webkit-search-cancel-button {*/
/*    opacity: 1;*/
/*    pointer-events: all;*/
/*}*/