<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/scheme/light.css" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="./css/scheme/dark.css" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="./css/main.css">
    <title>Home page</title>
</head>
<body>
<header class="header">
    <div class="container">
        <nav class="navbar">
            <div class="navbar__left">
                <div class="navbar__logo">
                <span>Logo</span>
                </div>
            </div>
            <div class="navbar__middle">
                <ul>
                    <li class=''><a href='./index.html?_ijt=ien03evaglhs12etupij3pb283&_ij_reload=RELOAD_ON_SAVE'>Homepage</a>
                    </li>
                    <li class=''><a href='./calendar.html?_ijt=ien03evaglhs12etupij3pb283&_ij_reload=RELOAD_ON_SAVE'>Calendar</a>
                    </li>
                    <li class=''><a href='./events.html?_ijt=ien03evaglhs12etupij3pb283&_ij_reload=RELOAD_ON_SAVE'>Events</a>
                    </li>
                </ul>
            </div>
            <div class="navbar__right">
                <ul>
                    <li><a href="signin.html">sign in</a></li>
                    <li><a href="signup.html">sign up</a></li>
                </ul>
            </div>
        </nav>
    </div>


</header>
<main>
    <div class="container homepage">
        <div>
            <h2>Welcome to my Calendar :)</h2>
            <p>homepage</p>
        </div>

    </div>
</main>
<script type="module" src="./js/index.js">

</script>
</body>
</html>