<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/scheme/light.css" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="./css/scheme/dark.css" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="./css/main.css">
    <title>Home page</title>
</head>
<body>
<header class="header">
    <div class="container">
        <nav class="navbar">
            <div class="navbar__left">
                LOGO
            </div>
            <div class="navbar__middle">
                <ul>
                    <li class=''><a href='./index.html?_ijt=ien03evaglhs12etupij3pb283&_ij_reload=RELOAD_ON_SAVE'>Homepage</a>
                    </li>
                    <li class=''><a href='./calendar.html?_ijt=ien03evaglhs12etupij3pb283&_ij_reload=RELOAD_ON_SAVE'>Calendar</a>
                    </li>
                    <li class=''><a href='./events.html?_ijt=ien03evaglhs12etupij3pb283&_ij_reload=RELOAD_ON_SAVE'>Events</a>
                    </li>
                </ul>
            </div>
            <div class="navbar__right">
                <ul>
                    <li><a href="signin.html?_ijt=ien03evaglhs12etupij3pb283&_ij_reload=RELOAD_ON_SAVE">sign in</a></li>
                    <li><a href="signup.html?_ijt=ien03evaglhs12etupij3pb283&_ij_reload=RELOAD_ON_SAVE">sign up</a></li>
                </ul>
            </div>
        </nav>
    </div>


</header>
<main>
    <div class="container homepage">
        <form class="form" method="post">
            <fieldset>
                <legend>Sign Up</legend>
                <div class="form-group">
                    <div class="form-input">
                        <label> First name
                            <input type="text">
                        </label>
                    </div>
                    <div class="form-input">
                        <label> Second name
                            <input type="text">
                        </label>
                    </div>
                    <div class="form-input">
                        <label> E-mail
                            <input type="text">
                        </label>
                    </div>
                    <div class="form-input">
                        <label> Password
                            <input type="text">
                        </label>
                    </div>
                    <div class="form-input">
                        <label> Repeat Password
                            <input type="text">
                        </label>
                    </div>
                    <div class="mt-1"><input class="btn btn--radius" type="submit"></div>
                    <div class="question">
                        <small>Already have an account? <a href="to login">Sign in</a></small>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</main>
<script type="module" src="./js/index.js">

</script>
</body>
</html>